/* Define color variables */
:root {
    --primary-color: #038164;
    --primary-dark: #004938;
    --primary-light: #32aa8e;
    /* 0.3 opacity of primary color */
    --primary-color-3: rgba(3, 129, 100, 0.3);
    --gray-color: #6b6b6b;
    --light-gray-color: #f9f9f9;
    --black: #212529;
    --white: #ffffff;
    --text-black: #212529;
    --text-gray: #414141;

    --card-gradient-1: linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
    --card-gradient-2: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
    --card-gradient-3: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
}

/* This file is to add custom css for FRONTEND of this website */

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
}

/* Generic CSS */
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    margin-bottom: 0;
    font-weight: 600;
    margin-bottom: 1rem;
}

h1, h2, h3 {
    line-height: 3rem;
}

.h6, h6 {
    font-size: .85rem;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--text-gray);
}

a {
    text-decoration: none;
    color: var(--black);
    -webkit-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    font-size: 1rem;
}

a:hover {
    color: var(--primary-color);
}

label {
    margin-bottom: 15px;
}

svg {
    width: 20px;
}

img {
    border-radius: 0.3rem;
}

section {
    padding: 4rem 1rem;
}

.top-5 {
    top: 5rem;
}

.form-control {
    padding: 10px 15px;
    /* border: none; */
    font-size: 1rem;
}

.row {
    margin-bottom: 1rem;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-primary-dark {
    background-color: var(--primary-dark) !important;
}

.bg-primary-light {
    background-color: var(--primary-light) !important;
}

.bg-gray {
    background-color: var(--gray-color) !important;
}

.bg-light-gray {
    background-color: var(--light-gray-color) !important;
}

.bg-gradient {
    background-color: var(--primary-color);
    /* background-image: linear-gradient(to right, var(--primary-color) 100%, var(--primary-color) 60%); */
}

.bg-round-radient {
    background: radial-gradient(circle, var(--primary-color) 0%, var(--primary-color-3) 100%);
    border-radius: 50%;
    height: 400px;
    width: 350px;
    position: relative;
}

.bg-round-radient img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
}

.text-logo {
    color: var(--primary-color) !important;
    font-weight: 600;
    font-size: 1rem;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-right {
    text-align: right;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-xs {
    font-size: 1rem;
}

.fs-xxs {
    font-size: 0.75rem;
}

/* Margin Right */
.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-4 {
    margin-right: 1.5rem;
}

.mr-5 {
    margin-right: 3rem;
}

/* MArgin left */

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.ml-4 {
    margin-left: 1.5rem;
}

.ml-5 {
    margin-left: 3rem;
}

.btn {
    padding: 10px 25px;
    border: none;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 11px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #c0c0c0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 2px;
}

.scroll-div {
    overflow-y: auto;
}


.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-paypal {
    background-color: #00457C;
    color: var(--white);
}

.btn-paypal:hover {
    background-color: #025eaa;
    color: var(--white);
}

.btn-stripe {
    background-color: #6772e5;
    color: var(--white);
}

.btn-stripe:hover {
    background-color: #4a56c6;
    color: var(--white);
}

.btn-google {
    background-color: #EB4335;
    color: var(--white);
}

.btn-google:hover {
    background-color: #f32b18;
    color: var(--white);
}


.btn-facebook {
    background-color: #0075FF;
    color: var(--white);
}

.btn-facebook:hover {
    background-color: #005ac2;
    color: var(--white);
}

.btn-white {
    background-color: var(--white);
    color: var(--black);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active .btn-primary:focus-visible {
    background-color: var(--primary-dark);
    border: none;
}


.arrow-button {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    border-radius: 0.3rem;
    padding-right: 20px;
}

.arrow-button a {
    color: var(--primary-color);
    text-decoration: none;
}

.arrow-button:hover a {
    color: #ffffff !important;
}

.arrow-button i {
    font-size: 1rem !important;
    margin-right: 5px !important;
}

.arrow-button:hover {
    padding-left: 20px;
    background-color: var(--primary-color);
    color: #ffffff !important;
}

.arrow-button:hover i {
    color: #ffffff !important;
}


.btn-primary-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-primary-outline:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.heading h2 {
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 0;
    font-weight: 500;
    color: #1b1a1a;
    margin-bottom: 1rem;
}


.heading h6 {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.2rem;

}

.vertical-line {
    width: 2px;
    height: 100px;
    background-color: black;
}

.rounded-10 {
    border-radius: 25px;
}

.rounded-1 {
    border-radius: 0.3rem !important;
}

.border-left {
    border-left: 1px solid var(--black);
}

.table .thead-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

table thead tr th {
    font-size: 1rem;
}

table tbody tr td {
    font-size: 1rem;
}

.w-30 {
    width: 30%;
}

w-70 {
    width: 70%;
}

/* Navbar Section */
.nav-link {
    color: var(--black);
}

.nav-link:hover {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link {
    color: #878787;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -90px;
    margin-top: 0.125rem;
}

.dropdown-toggle::after {
    display: none;
}

.card {
    min-width: 100px;
    border: none;
    border-radius: 0.3rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-bottom: 3rem;
}

.card .card-header {
    background-color: white;
    padding: 30px 30px 5px 30px;
    color: var(--black);
    border: none;
}


.card .card-header-primary {
    background-color: var(--primary-color);
    padding: 15px;
    color: var(--white);
}

.card .card-body {
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.card .card-body:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--primary-color);
    height: 3px;
    width: calc(100% - 100px);
}


.alert-trim {
    display: inline-block;
}


/* Header Section */
#pageheader {
    height: 500px;
    color: var(--white);
    background-size: cover;
    background-position: center;
}

#pageheader .content {
    width: 550px;
}

#pageheader .content h3 {
    font-size: 36px;
    padding-bottom: 10px;
}

#pageheader .content p {
    font-size: 16px;
    padding-bottom: 20px;
}

/* About Us Section START  */

.about .about-img {
    position: relative;
    border-radius: 0.3rem;
    height: 510px;
}

.bg-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.about .about-img .about-img-warp {
    position: absolute;
    right: 0;
    max-width: 400px;
    border-radius: 0.3rem;
    height: 510px;
}

.about .about-img.about-img-left .about-img-warp {
    right: auto;
    left: 0;
}

.counter {
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 0.3rem;
    padding: 25px 40px 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about .about-img .counter {
    width: 207px;
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 1;
}

.about .about-img.about-img-left .counter {
    right: 0;
    left: auto;
}

.counter .counter-icon {
    margin-bottom: 15px;
}

.counter .counter-icon i {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.counter .counter-num {
    margin-bottom: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.counter .counter-num span, .counter .counter-num p {
    font-size: 38px;
    font-weight: 400;
    line-height: 29px;
    display: inline-block;
    color: #ffffff;
}

.counter .counter-name h6 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 29px;
    color: #ffffff;
    text-transform: capitalize;
}


.about .about-text {
    padding: 1rem;
}


/* About Us Section END */

/* Rating & Review Section START */

.review-form .star-rating {
    direction: rtl;
    display: inline-flex;
    justify-content: center;
    gap: 5px;
}

.review-form .star-rating input[type="radio"] {
    display: none;
}

.review-form .star-rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
}

.review-form .star-rating input[type="radio"]:checked~label {
    color: gold;
}

.review-form .star-rating label:hover,
.star-rating label:hover~label {
    color: gold;
}


/* Notification Section START */

#notification-list .item {
    padding: 1rem;
}

#notification-list .item h5 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

#notification-list .item p {
    margin-bottom: 0;
    font-size: 0.9rem;
}

.dropdown-notification[data-bs-popper] {
    width: 300px;
    left: -250px;
}

/* Notification Section END */

/* How It Works Section */

.howitworks {
    padding: 50px 0;
    margin: 50px 0;
}

.howitworks .card .card-body {
    position: relative;
    overflow: hidden;
}

.howitworks .card .card-body:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--primary-color);
    height: 3px;
    width: calc(100% - 100px);
}


.howitworks .card .card-body .icon {
    position: absolute;
    top: -50px;
    right: -100px;
}

.howitworks .card .card-body .icon i::before {
    color: var(--primary-color);
    margin-left: 0;
    font-size: 200px;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    visibility: hidden;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
}

.howitworks .card .card-body .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.howitworks .card .card-body .content i {
    font-size: 3.5rem;
    color: var(--primary-color);
    margin: 2rem 0;
}

.howitworks .card .card-body .content h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

/* Chat Button CSS */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
}

.chat-button i {
    font-size: 24px;
}

.clickable-card {
    height: 200px;
}



/* Testimonial CSS Start */

.carousel-inner {
    margin: 1rem 3rem;
}

/* Mobile Responsive */

@media only screen and (max-width: 600px) {
    .carousel-inner {
        margin: 0;
    }
}


/* Testimonial CSS End */


/* Help Topic CSS Start */

.topic-list {
    margin: 1rem 0;
}

.topic-list .item a {
    text-decoration: none;
}

.topic-list .item a:hover {
    color: var(--primary-color);
}

.trix-content {
    min-height: 300px;
    /* Adjust the height as per your requirement */
}

.trix-button--icon-attach {
    display: none !important;
}

/* Help Topic CSS End */


/* Get Apps CTA CSS Start */

#getapps {
    margin: 5rem 0;
}


/* Get Apps CTA CSS End */

/* Accordion CSS Start */
.accordion .heading {
    margin-bottom: 23px;
}

.accordion .heading .heading-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: #1b1a1a;
    margin-bottom: 0;
}

.accordion .card,
.accordion .card:first-of-type,
.accordion .card:not(:first-of-type):not(:last-of-type) {
    padding: 1rem 2rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #eaeaea;
    margin-bottom: 30px;
    border-radius: 0.3rem;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    min-height: 0;
    min-width: 0;
}

.accordion .card .card-heading,
.accordion .card:first-of-type .card-heading,
.accordion .card:not(:first-of-type):not(:last-of-type) .card-heading {
    padding: 0;
    margin: 0;
}

.accordion .card .card-heading a,
.accordion .card:first-of-type .card-heading a,
.accordion .card:not(:first-of-type):not(:last-of-type) .card-heading a {
    font-size: 16px;
    color: #222222;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    display: block;
    padding-left: 0;
    text-decoration: none;
}

.accordion .card .card-heading .card-link:after,
.accordion .card:first-of-type .card-heading .card-link:after,
.accordion .card:not(:first-of-type):not(:last-of-type) .card-heading .card-link:after {
    /* symbol for "opening" cards */
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: absolute;
    right: 0;
    top: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f068";
    font-size: 11px;
    color: var(--primary-color);
}

.accordion .card .card-heading .card-link.collapsed:after,
.accordion .card:first-of-type .card-heading .card-link.collapsed:after,
.accordion .card:not(:first-of-type):not(:last-of-type) .card-heading .card-link.collapsed:after {
    /* symbol for "collapsed" cards */
    content: "\f067";
}

.accordion .card .card-body,
.accordion .card:first-of-type .card-body,
.accordion .card:not(:first-of-type):not(:last-of-type) .card-body {
    color: #9b9b9b;
    padding: 5px 0 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.accordion .card .card-body::before {
    background-color: white
}

.accordion .card.active-acc,
.accordion .card:first-of-type.active-acc,
.accordion .card:not(:first-of-type):not(:last-of-type).active-acc {
    border-color: var(--primary-color);
}

.accordion .card.active-acc .card-heading .card-link,
.accordion .card:first-of-type.active-acc .card-heading .card-link,
.accordion .card:not(:first-of-type):not(:last-of-type).active-acc .card-heading .card-link {
    color: var(--primary-color);
}

.accordion .card.active-acc .card-heading .card-link::after,
.accordion .card:first-of-type.active-acc .card-heading .card-link::after,
.accordion .card:not(:first-of-type):not(:last-of-type).active-acc .card-heading .card-link::after {
    color: var(--primary-color);
    content: "\f068";
}

.accordion .card:hover,
.accordion .card:first-of-type:hover,
.accordion .card:not(:first-of-type):not(:last-of-type):hover {
    border-color: var(--primary-color);
}

.accordion .card:hover .card-heading a,
.accordion .card:first-of-type:hover .card-heading a,
.accordion .card:not(:first-of-type):not(:last-of-type):hover .card-heading a {
    color: var(--primary-color);
}

.accordion .card:hover .card-heading a::after,
.accordion .card:first-of-type:hover .card-heading a::after,
.accordion .card:not(:first-of-type):not(:last-of-type):hover .card-heading a::after {
    color: var(--primary-color);
}

.accordion .card:last-of-type {
    margin-bottom: 15px;
}


/* Accordion  CSS End */


/* Contact Us Page CSS Start */


.map {
    position: relative;
    height: 720px;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.map iframe.map-gray {
    -webkit-filter: brightness(104%) contrast(99%) saturate(0%) blur(0px) hue-rotate(0deg);
    filter: brightness(104%) contrast(99%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.map.map-2 {
    padding: 0;
    height: 520px;
}

.map.map-3 {
    height: auto;
    padding: 90px 0;
}


/* Contact Us Page CSS End */

/* Chat Page CSS Start */

.people-list {}

.people-list .search {
    padding: 20px;
    display: flex;
    align-items: center;
}

.people-list input {
    border-radius: 0.3rem;
    border: none;
    padding: 12px;
    color: var(--white);
    background: var(--primary-light);
    width: 100%;
    padding-right: 35px;
}

.people-list .fa-search {
    position: relative;
    left: -30px;
    color: var(--white);
}

.people-list .list .item {
    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-radius: 0.3rem;
}

.people-list .list .item p {
    color: #808080;
}

.people-list .list .active {
    background-color: var(--primary-color);
    color: var(--white);
}

.people-list .list .active p {
    color: #ffffff;
}

.people-list ul {
    padding: 20px;
    height: 550px;
}

.people-list ul li {
    padding-bottom: 20px;
    list-style: none;
}

.people-list img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status {
    color: #92959E;
}

.chat {
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 475px;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-text {
    font-size: 1rem;
    margin-bottom: 0;
}

.chat .chat-history .message-data-time {
    color: var(--light-gray-color);
    padding-left: 6px;
    margin-bottom: 0;
}

.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 80%;
    /* position: relative; */
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: var(--primary-light);
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: var(--primary-light);
}

.chat .chat-history .other-message {
    background: var(--gray-color);
}

.chat .chat-history .other-message:after {
    border-bottom-color: var(--gray-color);
    left: 93%;
}

.chat .chat-message {
    padding: 30px;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 0.3rem;
    resize: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-history li {
    list-style: none;
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: var(--primary-light);
}

.offline {
    color: #E38968;
}

.me {
    color: var(--gray-color);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* Services CSS Start */

.service-slider .carousel-inner {
    margin: 0;
}


@media (max-width: 767px) {
    .service-slider .carousel-inner .carousel-item>div {
        display: none;
    }

    .service-slider .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.service-slider .carousel-inner .carousel-item.active,
.service-slider .carousel-inner .carousel-item-next,
.service-slider .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .service-slider .carousel-inner .carousel-item-end.active,
    .service-slider .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .service-slider .carousel-inner .carousel-item-start.active,
    .service-slider .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.service-slider .carousel-inner .carousel-item-end,
.service-slider .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

/* Services CSS End */


/* Auth Pages CSS  */

.authpage .wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.authpage .inner {
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
}

.authpage .inner .image-holder {
    width: 50%;
}

.authpage .inner form {
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}

.authpage .inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Poppins-SemiBold";
    text-align: center;
    margin-bottom: 28px;
}

.authpage {
    overflow-x: hidden;
}

.authpage .switch-user a {
    float: right;
    color: var(--primary-color);
    margin: 10px 15px;
}

.authpage .switch-user a:hover {
    color: var(--primary-dark);
}

.toggle-password {
    position: absolute;
    right: 30px;
    top: 13px;
}

.toggle-confirm-password {
    position: absolute;
    right: 30px;
    top: 13px;
}

.forgot-password a {
    float: right;
    font-size: 12px;
}

.authpage .card {
    margin: auto 50px;
    border: none;
}

.authpage .card .card-body img {
    height: 50px;
    margin-bottom: 10px;
}

.authpage .card .card-body h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.authpage .card .card-body p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.authpage .card .card-body .forgot-password a {
    float: right;
    font-size: 12px;
}

.authpage .card .card-body .toggle-password {
    position: absolute;
    right: 30px;
    top: 13px;
}

.authpage .card .card-body .toggle-confirm-password {
    position: absolute;
    right: 30px;
    top: 13px;
}

.authpage .card .card-body .image-selection img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.authpage .card .card-body .image-selection a {
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 5px;
    height: 35px;
    width: 35px;
    color: var(--primary-color);
}


.authpage .card .card-body .image-selection a:hover {
    color: white;
    background-color: var(--primary-color);
}

/* Footer CSS  */

footer p {
    color: var(--white);
}

footer p a {
    text-decoration: none;
    color: var(--white);
}

footer p a:hover {
    color: var(--primary-color);
}

footer hr {
    width: 60px;
    height: 2px;
}

/* User Side Bar  */

.navbar-left,
.footer-left, .main-left {
    margin-left: 250px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    /* color: #fff; */
    padding: 20px;
    transition: transform 0.3s ease;
    z-index: 9999;
}

.sidebar .navbar-brand {
    color: var(--primary-color);
    font-weight: 600;
}

.sidebar-hidden {
    transform: translateX(-250px);
}

.sidebar .nav-item {
    list-style: none;
}

.sidebar .nav-item .nav-link {
    display: inline-table;
    color: var(--gray-color);
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
}

.sidebar .nav-item .nav-link:hover {
    color: var(--primary-color);
}

.sidebar .nav-item .nav-link:active {
    color: var(--primary-color);
}

.sidebar .nav-item .nav-link a {
    padding-left: 5px;
    color: var(--gray-color);
    text-decoration: none;
}

.sidebar .nav-item .nav-link a:hover {
    color: var(--primary-color);
}

.sidebar .nav-item .nav-link a:active {
    color: var(--primary-color);
}

.sidebar .nav-item .nav-link i {
    padding-right: 0.5rem;
}

/* Accordin CSS  */

.accordion-button:not(.collapsed) {
    color: var(--primary-color);
}


/* CUSTOM STATISTICS CARDS CSS */

.statistics {
    padding: 10px 0;
    /* margin: 50px 0; */
}


/* Edit Profile Tabs CSS  */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.nav-pills .nav-link {
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
    margin-bottom: 0.5rem;
    font-size: 1rem;
}


/* Booking Form Stepper Page CSS  */

.booking-form .card .card-body .calculated-amount .item {
    display: flex;
    justify-content: space-between;
}

.booking-form .location-div {
    position: absolute;
    bottom: 0;
    left: 35px;
    width: 100%;
}

.booking-form .parcels .parcel-type {
    padding: 15px;
    background-color: var(--light-gray-color);
    color: var(--black);
    cursor: pointer;
    border-radius: 0.3rem;
}


.booking-form .parcels .active-parcel {
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--white);
}

.booking-form .parcels .active-parcel p {
    color: var(--white);
}

.booking-form #regForm {
    background-color: #ffffff;
    margin: 0px auto;
    padding: 40px;
    border-radius: 10px
}



.booking-form input.invalid {
    background-color: #ffdddd
}

.booking-form .tab {
    display: none
}


.booking-form button:hover {
    opacity: 0.8
}

.booking-form #prevBtn {
    background-color: var(--primary-light)
}

.booking-form .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.25;
}

.booking-form .step.active {
    opacity: 1
}

.booking-form .step.finish {
    background-color: var(--primary-dark);
}

.booking-form .all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.booking-form .thanks-message {
    display: none
}

.booking-form .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.booking-form .container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/* Booking Detail page */


.progressdiv {
    width: 100%;
    color: white;
    background: transparent;
}

.progressdiv .progressbar {
    counter-reset: step;
    display: grid;
}

.progressdiv .progressbar li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.progressdiv .progressbar li:last-child {
    margin-bottom: 0;
}

.progressdiv .progressbar li p {
    color: var(--gray-color);
}

.progressdiv .progressbar li.active p {
    color: var(--primary-dark);
}

.progressdiv .progressbar li h6 {
    color: var(--gray-color);
    margin-bottom: 5px;
    font-size: 1rem;
    width: 120px;
}

.progressdiv .progressbar li.active h6 {
    color: var(--primary-dark);
}


.progressdiv .progressbar li h5 {
    color: var(--gray-color);
    margin-bottom: 5px;
    font-size: 1rem;
    width: 100px;
}

.progressdiv .progressbar li.active h5 {
    color: var(--primary-dark);
}

/* Circles */
.progressdiv .progressbar li .circle {
    position: relative;
}

.progressdiv .progressbar li .circle:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: var(--gray-color);
    /* Center # in circle */
    line-height: 39px;
}

.progressdiv .progressbar li:not(:last-child) .circle:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background: var(--gray-color);
    top: 40px;
    /* half of height Parent (li) */
    left: 50%;
    z-index: 9999;
}


.progressdiv .progressbar li:first-child:after {
    content: none;
}

.progressdiv .progressbar li.active .circle:before {
    background: var(--primary-color);
    content: "✔";
}

.progressdiv .progressbar li.active .circle:after {
    background: var(--primary-color);
}


/* Responsive CSS */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    #pageheader {
        height: 300px;
    }

    #pageheader .content h3 {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .footer-left, .main-left {
        margin-left: 10px;
    }
}



/* Chat Page CSS */

.searchResults .result-item {
    cursor: pointer;
    padding: 5px 10px;
}

.searchResults .result-item:hover {
    background-color: var(--primary-light);
    color: var(--white);
}


/* For tablets and small desktops: */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    h5 {
        font-size: 1rem;
    }

    #pageheader {
        height: 500px;
    }
}

/* For large desktops and laptops: */
@media only screen and (min-width: 1025px) {
    #pageheader {
        height: 500px;
    }
}

/* For Mobile Devices */
@media only screen and (max-width: 767px) {

    h5 {
        font-size: 1rem;
    }

    #pageheader {
        height: 300px;
    }

    .authpage .card {
        margin: 5px;
    }

}



/* Error Page CSS */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0
}

#notfound {
    position: relative;
    height: 100vh
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center
}

.notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0 auto 20px;
    z-index: -1
}

.notfound .notfound-404 h1 {
    font-size: 236px;
    font-weight: 200;
    margin: 0;
    color: var(--black);
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.notfound .notfound-404 h2 {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--black);
    background: var(--white);
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.notfound a {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    padding: 13px 23px;
    background: var(--primary-color);
    font-size: 18px;
    -webkit-transition: .2s all;
    transition: .2s all
}

.notfound a:hover {
    background: var(--primary-dark);
    /* background: var(--white) */
}

@media only screen and (max-width:767px) {
    .notfound .notfound-404 h1 {
        font-size: 148px
    }
}

@media only screen and (max-width:480px) {
    .notfound .notfound-404 {
        height: 148px;
        margin: 0 auto 10px
    }

    .notfound .notfound-404 h1 {
        font-size: 86px
    }

    .notfound .notfound-404 h2 {
        font-size: 16px
    }

    .notfound a {
        padding: 7px 15px;
        font-size: 1rem
    }
}


/* tracking Page CSS */
.tracking .tracking-list {
    border: 1px solid var(--light-gray-color);
}

.tracking .tracking-item {
    border-left: 4px solid var(--primary-color);
    position: relative;
    padding: 2rem 0.5rem 0.5rem 1.5rem;
    font-size: 0.9rem;
    margin-left: 3rem;
    min-height: 5rem;
}

.tracking .tracking-item:last-child {
    padding-bottom: 4rem;
}

.tracking .tracking-item .tracking-date {
    margin-bottom: 0.5rem;
}

.tracking .tracking-item .tracking-date span {
    color: var(--gray-color);
    font-size: 85%;
    padding-left: 0.4rem;
}

.tracking .tracking-item .tracking-content {
    padding: 0.5rem 0.8rem;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
}

.tracking .tracking-item .tracking-content span {
    display: block;
    color: #767676;
    font-size: 12px;
}

.tracking .tracking-item .tracking-icon {
    position: absolute;
    left: -0.7rem;
    width: 1.1rem;
    height: 1.1rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: #fff;
    color: #fff;
}

.tracking .tracking-item-pending {
    border-left: 4px solid #d6d6d6;
    position: relative;
    padding: 2rem 1.5rem 0.5rem 1.5rem;
    font-size: 0.9rem;
    margin-left: 3rem;
    min-height: 5rem;
}

.tracking .tracking-item-pending:last-child {
    padding-bottom: 4rem;
}

.tracking .tracking-item-pending .tracking-date {
    margin-bottom: 0.5rem;
}

.tracking .tracking-item-pending .tracking-date span {
    color: #888;
    font-size: 85%;
    padding-left: 0.4rem;
}

.tracking .tracking-item-pending .tracking-content {
    padding: 0.5rem 0.8rem;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
}

.tracking .tracking-item-pending .tracking-content span {
    display: block;
    color: #767676;
    font-size: 12px;
}

.tracking .tracking-item-pending .tracking-icon {
    line-height: 2.6rem;
    position: absolute;
    left: -0.7rem;
    width: 1.1rem;
    height: 1.1rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    color: #d6d6d6;
}

.tracking .tracking-item-pending .tracking-content {
    font-weight: 600;
    font-size: 1rem;
}

.tracking .tracking-item .tracking-icon.status-current {
    width: 1.9rem;
    /* height: 1.9rem; */
    left: -1.1rem;
}

.tracking .tracking-item .tracking-icon.status-intransit {
    color: var(--primary-color);
    font-size: 0.6rem;
}

.tracking .tracking-item .tracking-icon.status-current {
    color: var(--primary-color);
    font-size: 0.6rem;
}

@media (min-width: 992px) {
    .tracking .tracking-item {
        margin-left: 8rem;
    }

    .tracking .tracking-item .tracking-date {
        position: absolute;
        left: -11rem;
        width: 7.5rem;
        text-align: right;
    }

    .tracking .tracking-item .tracking-date span {
        display: block;
    }

    .tracking .tracking-item .tracking-content {
        padding: 0;
        background-color: transparent;
    }

    .tracking .tracking-item-pending {
        margin-left: 8rem;
    }

    .tracking .tracking-item-pending .tracking-date {
        position: absolute;
        left: -11rem;
        width: 7.5rem;
        text-align: right;
    }

    .tracking .tracking-item-pending .tracking-date span {
        display: block;
    }

    .tracking .tracking-item-pending .tracking-content {
        padding: 0;
        background-color: transparent;
    }
}

.tracking .tracking-item .tracking-content {
    font-weight: 600;
    font-size: 1rem;
}


/* Pop up image css */

.image-popup {
    cursor: pointer;
}

.imageModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.imageModal .modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 80%;
    max-height: 80%;
}

/* The Close Button */
.imageModal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

.imageModal .close:hover,
.imageModal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content (image) */
.imageModal .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Pagination CSS Start  */

.page-link {
    color: var(--primary-color);
}

.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Pagination CSS End */